<div id="productos">
    {{#each products}}
    <div class="card">
        <div class="card-body">
            <img class="imagen" src="/static/{{thumbnail}}" alt="thumbnail">
            <h5 class="card-title">{{title}}</h5>
            {{!-- <p class="card-text">{{description}}</p>
            <p class="card-text">Código: {{code}}</p>
            <p class="card-text">{{category}}</p>
            <p class="card-text">${{price}}</p>
            <p class="card-text">{{stock}} Unidades</p> --}}
            <button class="view-product" data-id="{{_id}}">Ver producto</button>
            <button class="add-cart" onclick="addToCart({{_id}})">Añadir al carrito</button>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/productos.js" type="module"></script>